<mat-toolbar color="primary" class="row">
   <div class="col">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
         <mat-icon>menu</mat-icon>
      </button>
      <span class="project-title">Mini-projet Angular - HOAREAU Quentin</span>
   </div>

   <div class="col-auto text-end right-nav-content">

      <div *ngIf="user" class="user-content"> Bonjour, {{user.username}} <small>({{user.roles[0].name}})</small> </div>
      <button *ngIf="user; else loginButton;" mat-raised-button color="warn" (click)="logout()">Se déconnecter </button>

      <ng-template #loginButton>
         <button mat-raised-button color="basic"> <a routerLink="/login"> Se connecter </a></button>
      </ng-template>


   </div>

</mat-toolbar>