.left-nav-content {
  position: relative;
  right: 0;
}

.mat-toolbar {
  

  .col {
    display: flex;
    align-items: center;

  }

  
}

div.user-content{
  display: contents;
}

.project-title, .user-content{
  font-size: 1rem;
  font-weight: 500;
  margin-right: 1rem;
}

button{
  margin-left: 1rem;
}