

<mat-card *ngIf="assignmentTransmis;else noAssignment" class="example-card">
   <mat-card-header>
      <div *ngIf="assignmentTransmis.matiere" mat-card-avatar class="enseignant-image"
         [style]='"background-image: url(\"./assets/images/enseignants/"+assignmentTransmis.matiere._id+".jpg\")"'>
      </div>
      <mat-card-title>{{assignmentTransmis.nom}} <ng-container *ngIf="assignmentTransmis?.rendu"> </ng-container>

      </mat-card-title>
      <mat-card-subtitle *ngIf="assignmentTransmis.matiere">
         Matière : {{assignmentTransmis.matiere.nom}} <br>
         Eleve : {{assignmentTransmis.eleve.nom}} {{assignmentTransmis.eleve.prenom}} <br>
         Enseignant : {{assignmentTransmis.matiere.enseignant}}<br>
         Date de rendu : {{assignmentTransmis.dateDeRendu | date}}

      </mat-card-subtitle>
   </mat-card-header>
   <img *ngIf="assignmentTransmis.matiere" mat-card-image
      src="./assets/images/matieres/{{assignmentTransmis.matiere._id}}.jpg" alt="Photo of a Shiba Inu">
   <mat-card-content>
      <b> Remarque : </b>
      <p>
         {{assignmentTransmis.remarque ? assignmentTransmis.remarque : "Aucune remarque"}}
      </p>

      <ng-container *ngIf="assignmentTransmis.rendu">
         <h3> Note : <span class="text-success"> {{assignmentTransmis.note}}/20 </span> </h3>
      </ng-container>

   </mat-card-content>
   <mat-card-actions>

      <ng-container *ngIf="user?.roles?.[0]?.name === 'USER' || user?.roles?.[0]?.name === 'ADMIN';else noAccessUpdate">
         <button (click)="onCkickEdit()" class="btn btn-primary"> Modifier </button>
      </ng-container>
      <ng-template #noAccessUpdate>
         <div class="alert alert-danger" role="alert">
            Vous n'avez pas les droits de modifier les assignments.
         </div>
      </ng-template>


      <ng-container *ngIf="user?.roles?.[0]?.name === 'ADMIN';else noAccessDelete">
         <button mat-raised-button color="warn" class="btn btn-success"
            (click)="onDeleteAssignment(assignmentTransmis)">

            
            Supprimer </button>

            <mat-checkbox *ngIf="!assignmentTransmis.rendu" (click)="onAssignmentRendu()"> Devoir rendu </mat-checkbox>


      </ng-container>
      <ng-template #noAccessDelete>
         <div class="alert alert-danger" role="alert">
            Vous n'avez pas les droits de supprimer les assignments.
         </div>
      </ng-template>



   </mat-card-actions>
</mat-card>

<ng-template #noAssignment>
   <h1 *ngIf="assignmentTransmis === null">Assignment non trouvé, <a href="/">Retourner à l'accueil</a></h1>
</ng-template>