<h2>Liste des assignments :</h2>


<main *ngIf="dataSource">

   <div class="row" style="">

      <div class="col" style="display: flex;align-items: center;">
         <mat-form-field>
            <mat-label>Rechercher</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #searchInput>
         </mat-form-field>
      
      
         <mat-slide-toggle [(ngModel)]="renduFilter" (click)="onRenduFilter()">
            <container-element [ngSwitch]="renduFilter">
               <span *ngSwitchCase="true">Rendu</span>
               <span *ngSwitchCase="false">Non rendu</span>
               <span *ngSwitchDefault>Tous les assignments</span>
            </container-element>
      
      
         </mat-slide-toggle>

      </div>

      <div class="col" style="text-align:right;margin-right: 10px;">
         <button (click)="onRenduFilter(true); searchInput.value = ''" class="btn btn-primary">Réinitialiser les filtres</button>

      </div>


   </div>


   <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

      <ng-container matColumnDef="nom">
         <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
         <td mat-cell *matCellDef="let element" class="cell-nom" (click)="openAssignmentDetail(element)"> {{element?.nom}} </td>
      </ng-container>

      <ng-container matColumnDef="rendu">
         <th mat-header-cell *matHeaderCellDef mat-sort-header> Rendu </th>
         <td (click)="openAssignmentDetail(element)" [ngClass]="{'rendu':element?.rendu, 'nonRendu': !element?.rendu}" mat-cell *matCellDef="let element">
            {{element?.rendu?"Rendu" :"Non Rendu"}} 
         
         </td>
      </ng-container>

      <ng-container matColumnDef="dateDeRendu">
         <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de rendu </th>
         <td (click)="openAssignmentDetail(element)"  mat-cell *matCellDef="let element">
            {{element?.rendu? (element.dateDeRendu |date) :"-"}} 
         
         </td>
      </ng-container>


      <ng-container matColumnDef="note">
         <th mat-header-cell *matHeaderCellDef mat-sort-header> Note </th>
         <td (click)="openAssignmentDetail(element)" mat-cell *matCellDef="let element"> {{ ( element?.rendu && element?.note ) ? (element?.note)+"/20":"-"}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
         <th mat-header-cell *matHeaderCellDef > Actions </th>
         <td mat-cell *matCellDef="let element" class="cell-actions">
            <a [routerLink]="['/assignment', element._id]"> <button  class="btn btn-success">
                  
               <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="visibility"></mat-icon>

            </button> </a>
            
            <ng-container *ngIf="user?.roles?.[0]?.name === 'ADMIN'">
               <button (click)="deleteAssignment(element)" class="btn btn-danger">
                  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
               </button>
            </ng-container>

           
            
        
            </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;"> </tr>

   </table>


   <mat-paginator (page)="pageChange($event)" [showFirstLastButtons]="true" [pageIndex]="this.page-1"
      [length]="this.totalDocs" [pageSizeOptions]="[10,20,50,100]" aria-label="Select page">
   </mat-paginator>

</main>