.rendu {
  color: green;
}

.nonRendu {
  color: red;
}

.important {
  font-size: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

table {
  width: 100%;


     td {
      cursor: pointer;
    }

    tr.mat-row:hover {
      background-color: rgb(235, 235, 235);
    }


}

.cell-actions button {
  font-size: 0.8rem;
}

.cell-actions a {
  margin: 5px;
}

.cell-actions {
  min-width: 150px;
}

.cell-nom{
  width: 400px;
}